* {
  color: whitesmoke;
}

body {
  background-image: radial-gradient(
    circle,
    rgb(9, 2, 42) 10%,
    rgb(0, 0, 2) 90%
  ) !important;
}

.Task_headline_todo {
  margin-left: 45%;
}

.Task_headline {
  border: 1px solid white;
  border-style: double;
  border-width: 6px;
  text-align: center;
  width: fit-content;
  margin-left: 18%;
  font-size: 25px;
}

.Login_form {
  margin-top: 2rem;
  border: 1px solid white;
  border-style: double;
  border-width: 6px;
  padding: 20px;
  width: 45%;
}

.form_input {
  border: 1px solid black;
  width: 100%;
  margin-top: 4px;
}

.Login_form input{
  background-color:rgb(4, 1, 22);
}

.submit_btn1 {
  text-align: center;
  border: 2px solid black;
  background-color: black;
  color: white;
}

.signup {
  text-align: end;
  cursor: pointer;
}

.submit_btn {
  text-align: center;
}

.signout {
  margin-right: 23%;
  margin-top: 4%;
  cursor: pointer;
}

.Task_text {
  width: 90%;
  display: flex;
  margin-left: 3%;
}

.task_index {
  font-weight: 600;
  display: flex;
  width: 50px;
}

.txt {
  text-align: start;
  display: flex;
}

.Task_icon {
  float: right;
  margin-right: 3%;
}

.Cursor {
  cursor: pointer;
}

.larrow {
  width: 10%;
}

.AllTasks_Container{
  width: 65%;
}

.container_leftArrow_headline {
  display: flex;
}

.leftArrow {
  margin-top: 2%;
  margin-left: 26%;
  margin-bottom: 1%;
}

.Task_item_container {
  border: 1px solid white;
  border-style: double;
  border-width: 5px;
  text-align: center;
  width: 60%;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 10px;
}

.inputNewTAsk {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.form_NewTAsk {
  width: 95%;
  margin-left: 3%;
}

#task{
  background-color:rgb(4, 1, 22);
  color: whitesmoke;
}

.form_NewTAsk ::placeholder{
  color: grey;
}

.ArrowUp {
  display: flex;
  align-items: center;
}

.pass_input {
  margin-left: 0;
}